.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 78%, 0.7);
}

.modal {
    position: relative;
    background: #222;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    color: #f2f2f2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal h2 {
    margin-bottom: 1rem;
}

.modal input,
.modal textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #f2f2f2;
    resize: none;
}

.modal input:focus,
.modal textarea:focus {
    outline: 2px solid #00aaff;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal button[type='button'] {
    background: #555;
}

.char-counter {
    text-align: right;
    font-size: 0.85rem;
    color: #aaa;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

textarea {
    resize: vertical;
    overflow-y: auto;
    max-height: 200px;
    background-color: #222;
    color: #f2f2f2;
    border: 1px solid #555;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    line-height: 1.5;
    scrollbar-width: thin;
    scrollbar-color: #777 #222;
}

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 4px;
}

textarea::-webkit-scrollbar-track {
    background: #222;
}
